@import "foundation/foundation";
@import "layout/layout";
@import "object/utility/utility";
@import "object/project/project";
@import "object/component/component";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}